@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --dark1: #333;
  --light: #eee;
}

body {
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

.navigation {
  position: fixed;
  width: 200px;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  background: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* transition: width 0.5s, left 0.5s; */ /* add back if using original*/
}

/* NAVIGATION
***************************** */

/* Add back if using original */
/* .navigation.active {
  width: 0;
} */

.navigation ul {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  margin: 10px 0;
  display: flex;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--dark1);
  font-weight: 500;
  letter-spacing: 2px;
  opacity: 0.5;
  font-size: 1.2rem;
  line-height: 4rem;
  justify-content: center;
  transition: opacity 0.3s ;
}

.navigation ul li a:hover {
  opacity: 1;
}

/* MAIN
***************************** */

.main {
  position: absolute;
  left: 200px;
}