@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --dark1: #333;
  --light: #eee;
}

body {
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

.navigation {
  position: fixed;
  width: 200px;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  background: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* transition: width 0.5s, left 0.5s; */ /* add back if using original*/
}

/* Add back if using original */
/* .navigation.active {
  width: 0;
} */

.navigation ul {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
}

.main {
  position: absolute;
  left: 200px;
}